.container {
  width: 100vw;
  height: 50vh;
  /*background: red;*/
  overflow: hidden;
  position: relative;
}

.container img {
  width: 100vw;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.container-action {
  position: absolute;
  bottom: 100px;
  left: 50vw;
  z-index: 100;
}

.container-action div {
  cursor: pointer;
}
