<div class="container" onmousedown="return false" onselectstart="return false">
  <div *ngFor="let one of image">
    <img *ngIf="nextIndex==image.indexOf(one)" src="{{one}}">

  </div>
  <div *ngFor="let one of video">
    <video width="100%" *ngIf="nextIndex==video.indexOf(one)+image.length" autoplay loop controls src="{{one}}">
    </video>
  </div>
  <div class="container-action">
    <div onmousedown="return false" onselectstart="return false" (click)="next()">next</div>
    <div onmousedown="return false" onselectstart="return false" (click)="back()">back</div>
  </div>
</div>
