
.container {
    height: 12vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: space-around;
}

.menu {
    list-style: none;
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

li.element-of-li {
    width: 10vw;
}

.element-of-li:hover {
    width: 10vw;
    background-color: #fff200;
}

a.label {
    width: 10vw;
    font-size: 110%;
    color: #f5fbfc;
    padding-left: 1.5vw;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}
ul.pop-up {
    width: 10vw;
    display: block;
    list-style: none;
    opacity: 1;
    background-color: black;
    opacity: 0.7;
}
.pop-up li{
    width: 100%;
    padding: 1vh;
}
.pop-up > hr{
    margin:0 auto;
    border: 0px none white;
    border-top:2px solid #5555;
}
li.element-of-li ul li a {
    width: 100%;
    font-size: 110%;
    color: white;
    padding-left: 1vw;
    display: inline-block;
    text-decoration: none;

}

.active {
    color: #438034 !important;
    font-weight: bold;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: auto;
    width: 50%;
}
.lang{
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.lang a{

    color: #5e5e5e;
    text-decoration: none;
}