<div class="container">
  <ul class="menu">
    <li>
      <a href="#" (click)="menu(ilHome1)">home</a>
      <ul #ilHome1 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="menu(ilHome2)">home</a>
      <ul #ilHome2 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="menu(ilHome3)">home</a>
      <ul #ilHome3 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="menu(ilHome4)">home</a>
      <ul #ilHome4 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="menu(ilHome5)">home</a>
      <ul #ilHome5 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="menu(ilHome6)">home</a>
      <ul #ilHome6 style="display: none;">
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
