<div class="main_login" >
  <div class="main_login_form">
    <h1 class="login_title">{lang, select, ua {Вхід} ru {Вход}}</h1>
    <input class="main_login_form_input" type="text" #login placeholder="Введіть логін">
    <input class="main_login_form_input" type="password" #password placeholder="Введіть пароль">
    <button type="button" class="login_btn" (click)="auth(login,password)">Відправити</button>

    <input type="checkbox" id="idInputChecked" #inputChecked>
    <label for="idInputChecked">{lang, select, ua {Запам'ятати} ru {Запомнить}}
    </label>
    <a routerLink="/reset">{lang, select, ua {Відновити пароль} ru {Востановить пароль}}</a>
  </div>
</div>
