<div class="wrapper">
	<div class="left">
		<div class="content">
			<h2>Стояти на місці - це не про нас!
				<br>
				M-Plus - завжди рух вперед та
				впровадження інновацій.
				<br>
				Ми не підкорюємось іншим
				стилям,а задаємо свій!</h2>
			<h3>ВИЙДИ ЗА РАМКИ <span> СТЕРЕОТИПІВ!</span></h3>
		</div>
	</div>
	<div class="right"></div>
</div>
<div class="wrapper-second">
	<div class="yellow-line">
	</div>
	<h1>СЕРВІСИ</h1>
	<div class="cards">
		<app-card></app-card>
		<app-card></app-card>
		<app-card></app-card>
		<app-card></app-card>
		<app-card></app-card>
	</div>
</div>
<div class="video">
	<div class="darken">
		<div class="yellow-line"></div>
		<h1>ВІДЕО</h1>
	</div>
	<video src="./../../../assets/video/video.mp4" controls></video>
</div>
<div class="callback">
	<form >
		<div class="label">
			<div class="yellow-line"></div>
			<h1>ЗВОРОТНІЙ ЗВЯ`ЗОК</h1>
		</div>
		<div class="inputs">
			<input type="text" placeholder="Ім'я">
			<input type="email" placeholder="Електронна пошта">
			<textarea name="" id="" placeholder="Текстове повідомлення"></textarea>
			<div class="mini-inputs"><input type="text"> <input type="text"></div>
			<input type="submit" id="send-btn">
		</div>

	</form>
	<div class="contacts"></div>
</div>