<form #testForm>

  <input type="file" name="multipartFile">
  <button (click)="addFile(testForm)">upload</button>

</form>
<div>
  <div *ngFor="let one of path">
    <img src="{{url}}/restful/google-drive/download/{{one}}">
    <a href="#" (click)="delete(one)">X</a>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17"  [scrollwheel]="false">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<agm-map style="height: 300px" [latitude]="lat" [longitude]="lng" [zoom]="17" [scrollwheel]="false">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        <img src="../../../favicon.ico" alt="">
        <p>M-Plus</p>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
<div style="margin-bottom: 20vh"></div>
