.container {
  width: 20vw;
  height: 45vh;
  background: red;
  position: fixed;
  bottom: -40vh;
}
.container_header{
  width: 20vw;
  height: 5vh;
}
.container_header p{
  cursor: pointer;
}
.container_messages {
  width: 20vw;
  height: 30vh;
}

.container_messages_message {
  width: 20vw;
}
textarea{
  width: 20vw;
  height: 10vh;
}
